.card {
    display: flex;
    flex-direction: column;
    padding: 10%;


    &__header {
        h3 {
            font-family: 'Big Shoulders Display', cursive;
            font-size: 3rem;
            text-transform: uppercase;
            color: $very-light-gray;
        }
    }

    &__body {
        font-size: 1.5rem;
        letter-spacing: .7px;
        color: $transparent-white;
        line-height: 2.5rem;
    }

    .btn {
        margin-top: 3rem;
    }

    @media(min-width:768px) {
        padding: 5%;

        .btn {
            margin-top: 8rem;
        }
    }
}